.footer-outer-container {
    background-color: #111;
    color: grey;
    display: flex;
    justify-content: center;
    margin-top: ;
}

.footer-inner-container{
    width: 80%;
    background-color: black;
}

.footer-icons{
    margin-bottom: 20px;
    width: 12%;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    color: #fff;
}

.footer-data {
    display: flex;
    justify-content: space-between;
    
   
}

.footer-data ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 12vh;
}

.footer-data ul li{
    cursor: pointer;
}

.service code {
    display: flex;
    align-items: center;
    justify-content: center;
    border: #fff 1px solid;
    width: 14%;
    margin: 10px 0;
    cursor: pointer;
}

.copy-right{
    font-size: 12px;
    margin-bottom: 10px;
}